/* The body controls default font, margins, padding, etc. */
body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em;
}

img {
    max-width: 100%;
    max-height: 100vh;
    width: auto;
    margin: auto;
}

figcaption {
    font-style: italic;
}

a {
    text-decoration: none;
    color: #334195;  /* Dark cornflower blue */
}

a:hover {
    text-decoration: underline;
}

byline {
    font-size: 90%;
    color: Gray;
    /* top, right, bottom, left */
    padding: 10em 0em 0em 0em;
}

p {
    padding: 0px;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

li {
    padding-right: .6em;
    margin-bottom: .6em;
}

footer {
    /* Presumably width style color:  */
    border-top: 1px solid #d5d5d5;
    /* padding: 10mm; */
    font-size: 95%;
}